h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.container {
  
}

.section {
  font-family: 'Poppins', Sans-Serif;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 15px;
  margin-left: 20%;
}

.column {
  display: inline-block;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}