h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.container {
  
}

.main {
  font-family: 'Poppins', Sans-Serif;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 15px;
  margin-left: 25%;
}

.section {
  display: inline-block;
  width: 50%;
}

.column {
  display: inline-block;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.button {
  /*margin: 245px;*/
  background-color: #BBACC1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 25%;
  border-radius: 5px;
}

.button:hover {
  background-color: #765F7F;
  color: white;
}

th {
  font-size: 20px;
}

.main-2 {
  display: flex;
  margin-left: 25%;
}

.section-2 {
  display: inline-block;
  width: 50%;
}